*{
    padding: 0;
    margin: 0;
}
body{
    background-color: hsl(13, 31%, 94%);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.whole{
    display: flex;
    background-color: hsl(13, 31%, 94%);
    width: 100%;
    align-items: center;
    height: 100vh;
}
.text{
    width: 50%;
    text-align: left;
    /* display: flex; */
    /* flex-direction: column; */
padding: 50px;

}

.form{
    background-color: white;
    width:auto;
    height: 90vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
    padding: 30px;
    box-shadow:  0 5px 10px rgb(180, 179, 179);;
    border-radius: 10px;
    /* align-items: center; */
}
.input-1{
    display: flex;
    gap: 20px;
}
.input{
display: flex;
flex-direction: column;
}

.text h1{
    padding-bottom: 20px;
}
.text p{
    font-size: 22px;
    color: hsl(12, 20%, 44%);
    width: 540px;
}
.p2{
display: none;
}
.input-1 input{
    width: 200px;
    height: 40px;
}
.form .input-1 select{
    width: 200px;
    height: 40px;
}
.form select{
    height: 40px;
}

.input input{
    height: 40px;
    padding-left: 10px;
    box-sizing: border-box;

}

.input input:focus{
    outline: none;
    border: 3px solid aqua;
    /* box-shadow: 0 0 10px rgb(0, 119, 119); */
}

.input select:focus{
    outline: none;
    border: 3px solid aqua;
    /* box-shadow: 0 0 10px rgb(0, 119, 119); */
}
.input label{
    font-size: 12px;
    font-weight: bold;
    padding-bottom: 5px;
}

.form button{
  width: 100%;
  height: 40px;
  background-color: aqua;
  border: none;
  color: white;
}
.form p{
    width: 390px;
    font-size: 12px;
}
.form p a{
    color: aqua;
}
.text img{
    width:100px;
     height:100px;
}

.privacy-1{
    display: none;
}

@media screen and (max-width:1000px){
    .whole{
     flex-direction: column;

    }
    .text{
        scale: 0.8;
        padding: 5px;
        width: 100%;
    }
    .text p{
        font-size: 20px;
        width: 400px;
    }
    .p1{
       display: none;
    }

    .p2{
        display: block;
    }
    
    .input-1{
        flex-direction: column;
    }

    .form{
        align-items: center;
        width: 330px;
        height: auto;
    }

    .form input{
        width: 260px;

    }

    .form .input-1 select{
        width: 260px;
        height: 40px;
    }

     select{
        width: 260px;
    }
    .text img{
        width:80px;
         height:80px;
    }

   .privacy-1{
    display:block ;
    width: 350px;
    font-size: 15px;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 20px;
   }
   .privacy-2{
    display: none;
   }

   .privacy-1 a{
   
        color: aqua;
    
   }

   
}